.blueBackground{
  background: linear-gradient(45deg, hsla(203, 100%, 59%, .8) -25%, hsla(181, 60%, 50%, .8) 125%);
  }
  .greenBackground{
    background: linear-gradient(45deg, hsla(167, 64%, 64%, .8) -25%, hsla(119, 79%, 70%, .8) 125%);
  }
  .purpleBackground{
    background: linear-gradient(45deg, hsla(271, 67%, 72%, .8) -25%, hsla(208, 75%, 78%, .8) 125%);
  }

  .redBackground{
    background: linear-gradient(45deg, hsla(0, 78%, 62%, .8) -25%, hsla(302, 64%, 74%, .8) 125%);
  }
  .orangeBackground{
    background: linear-gradient(30deg, hsla(34, 96%, 69%, .8) -25%, hsla(15, 100%, 71%, .8) 125%);
  }
  .yellowBackground{
    background: linear-gradient(135deg, hsla(52, 100%, 75%, .8) -25%, hsla(39, 100%, 66%, .8) 125%);
  }