
/** Selection du métier **/

 /* The container must be positioned relative: */
 .custom-select {
  
    height: fit-content;
    position: relative;
    
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element: */
  }
  
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 50%;
    right: 0px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: var(--dark) transparent transparent transparent;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent var(--dark) transparent;
    top: 25%;
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
    
    padding: 8px 16px;
    border: 1px solid transparent;
    
    cursor: pointer;
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;

    z-index: 99;
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  } 