* {margin: 0; padding: 0;}
.indicators {
  position: relative;
  display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
    flex-wrap: wrap;
  top: 17vh;
  width: 100vw;
  height: 50vh;
  background-color: var(--light);
}

.indicators a {
  text-decoration: none;
}

.categorie {
  display: flex;
  height: 35%;
  margin-left: 10px;
  margin-right: 10px;
  width: 25%;
    flex-shrink: 1;
    flex-direction: column;
    align-items: center;
  justify-content: space-evenly;
    background-color: var(--white);
    box-shadow: 0 4px 16px 0 rgba( 0, 0, 0, 0.1 );
    border-radius: 7px;
    transition: all 0.25s ease;
    cursor: pointer;
  backface-visibility: ;
}

.categorie:hover {
  transform: scale(1.05);
}

.categorie p {
  position: relative;
  font-family: "EDF-Bold";
  font-size: 3.25em;
  color: var(--light);
  text-shadow: -1px -1px 2px rgba(255,255,255,.1), 2px 2px 2px rgba(0,0,0,.5);
/*  text-shadow: .1em .1em 0 hsl(200 50% 30%);*/
}


.categorie h1 {
  font-family: "EDF-Regular";
  font-size: 1.75em;
  color: var(--dark);
  text-align: center;
}



.graphs {
  position: relative;
  display: flex;
  flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
    flex-wrap: wrap;
  top: 15vh;
  width: 100vw;
/*  height: 100vh;*/
  background-color: var(--light);
}

.graphique {
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: var(--white);
  width: 45%;
  height: 50vh;
  border-radius: 20px;
  box-shadow: 
    inset 0 0 15px rgba(55, 84, 170,0),
    inset 0 0 20px rgba(255, 255, 255,0),
    7px 7px 15px rgba(55, 84, 170,.15),
    -7px -7px 20px rgba(255, 255, 255,1),
    inset 0px 0px 4px rgba(255, 255, 255,.2);

    align-items: center;
    justify-content: center;
    transition: all 0.25s ease;
    cursor: pointer;
}


.graphique:hover {
  transform: scale(1.05);
}