
.GeneralInformation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 30px;
    margin-top: 20px;
    width: 70%;
    padding-left: 10px;
    padding-right: 10px;
    opacity: 1;

  }
  
  /* Choix du filtre */
  
/* Partie d'affichage avec les cercles de couleurs */
.GeneralInformation a {
  width: 30%;
}
  
  .displayCategories {
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: start;
    opacity: 1;
  }
  
  .displayCategories p {

  }
  

  
  .displayCategories a {
    color: black;
    text-decoration: none;
  }
  
  .blueBackground{
    background-color: #2CB2F9;
  }
  .greenBackground{
    background-color: #75ED7F;
  }
  .purpleBackground{
    background-color: #B88BE6;
  }

  .redBackground{
    background-color: #E9575A;
  }
  .orangeBackground{
    background-color: #FB9A68;
  }
  .yellowBackground{
    background-color: #FFC355;
  }