body{
    color: var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

#drop_zone{
  position: relative;
    border: 4px dashed var(--blue);
    width: 600px;
    height: 500px;
    top: 50px;
    padding: 50px;
    text-align: center;
}
#drop_zone>:first-child{
    margin-top: 100px;
}

#drop_zone input[type="submit"]{
  margin-top: 75px;
  background: var(--lightblue);
	color: inherit;
	border: none;
  border-radius: 5px;
	padding: 10px;
	font: "EDF-Regular";
	cursor: pointer;
	outline: inherit;
  font-size: 2em;
}

#drop_zone input[type="submit"]:hover{
    background-color: var(--blue);
    color: var(--white);
}
h1{
    font-size: 4em;
    font-family: "EDF-Regular";
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  translate: (-50%,-50%);
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.hide{
  display: none;
}