:root{
  --light-blue:rgba(13, 88, 200, 0.5)
}

* {
  box-sizing: border-box;
}


body {font-family: Inter;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100%;
  font-size: 14px;
}


p {

  color: rgba(0, 0, 0, 1);
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}

/*Partie Concernant toute la bar de navigation*/

nav {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  background: var(--light-blue);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}

.edfLogo {
  width: 172px;
  height: 77px;
  background: url("../images/logoEDF.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 1;
  margin: 15px 0 15px 15px;
  overflow: hidden;
}

.navigation {
  display: flex;
  flex-direction: row;
  opacity: 1;
  width: 60%;
  justify-content: space-around;
  align-items: stretch;

}

.navigation p {
  display: flex;
        
        align-items:center;
        justify-content:center;
  margin: 0px 0px 0px 0px;
}

nav p {
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  color: rgba(1, 25, 112, 1);
  text-align: center;
}

nav a {
  color: rgba(1, 25, 112, 1);
  height: fit-content;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

/* partie du dropdownmenu */

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  height: 100%;
}
.dropdown p{
  height: 100%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 100%;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/* Partie du dash Board */

.GreenBackground {
  background: rgba(38, 224, 21, 1);
}

.RedBackground {
  background: rgba(224, 24, 11, 1);
}

.OrangeBackground {
  background: rgba(247, 135, 52, 1);
}

.DarkOrangeBackground {
  background: rgba(240, 103, 65, 1);
}


.sizeOf50px {
  height: 50px;
  width: 50px;
}

.marginRigh10px {
  margin-right: 10px;
}


.floatRight {
  position: absolute;
  right: 0;
  margin-right: 10px;
}
.floatLeft {
  position: absolute;
  left: 0;
  margin-left: 10px;
}

.tier{
  display: flex;
  flex-direction: row;
align-items: center;
justify-content: center;
}