:root{
    --borderSize:2px;
    --halfborderSize:1px;
    --borderColor:blue;
  }

.metierChoice{
    display: flex;
    margin: 0;
    
}
.metierChoice p{ color: var(--borderColor);
    border-top: var(--borderSize) solid var(--borderColor);
    border-bottom: var(--borderSize) solid var(--borderColor);
    border-left: var(--halfborderSize) solid var(--borderColor);
    border-right: var(--halfborderSize) solid var(--borderColor);
    padding: 0px 5px 0px 5px;
    margin: 0;
}
.metierChoice p:last-child{
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-left: var(--halfborderSize) solid var(--borderColor);
    border-right: var(--borderSize) solid var(--borderColor);
    padding: 0px 5px 0px 5px;
}
.metierChoice p:first-child{
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-left: var(--borderSize) solid var(--borderColor);
    border-right: var(--halfborderSize) solid var(--borderColor);
    padding: 0px 5px 0px 5px;
}
.metierChoice p.active{
background-color: var(--borderColor);
color: black;
}
.metierChoice p:hover{
    cursor: pointer;
    background-color: var(--borderColor);
    color: black;
}