
/** Scool button **/


#myBtn {
    display: block; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: var(--blue); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    visibility: hidden;
    opacity: 0;
  
    -webkit-transition: visibility 0s, opacity 0.5s ;
      -moz-transition: visibility 0s, opacity 0.5s ;
      -o-transition: visibility 0s, opacity 0.5s ;
      -ms-transition: visibility 0s, opacity 0.5s ;
    transition: visibility 0s, opacity 0.5s ;
    transition-timing-function: ease; 
  }
  
  #myBtn.active{
    visibility: visible;
    opacity: 1;
    
  }
  
  
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }