<img src="./images/logo-edf.svg" class="logo">
<div class="links">
	<a href="index.html" class="sendReseachArgument">Accueil</a>
	<div class="dropdown">
		<p>Fiches</p>
		<div class="dropdown-content">
	        <a href="fichesConformes.html" class="sendReseachArgument">Fiches conformes</a>
	        <a href="fichesNonConformes.html" class="sendReseachArgument">Fiches non-conformes</a>
	        <a href="FichesNonConformes1Semaine.html" class="sendReseachArgument">Fiches non-conformes sous 7 jours</a>
	        <a href="fichesNonConformes2Semaines.html" class="sendReseachArgument">Fiches non-conformes sous 14 jours</a>
	    </div>
		</div>
	<a href="fichesMisesAJours.html" class="sendReseachArgument">Fiches mises à jour</a>
	<a href="ecartsPirates.html" class="sendReseachArgument">Écarts pirates</a>
	<a href="dragAndDrop.php">Ajouter un Excel</a>
</div>
<script src="scripts/sendArgument.js"></script>